* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.logo {
    font-family: Brush Script MT, Brush Script Std, cursive;
    margin: 20px 105px;
}

.social_media {
    padding: 21px;
}

.social_links a {
    border: solid #DC143C 1px;
    padding: 6px 12px;
    border-radius: 50%;
    background-color: #DC143C;
    color: #FFFFFF;
}

.social_links a:hover {
    background-color: #FFFFFF;
    color: #DC143C;
}

.tagline {
    padding: 24px;
    font-size: 15px;
    font-weight: bold;
}
.body {
    width: 70%;
    margin: auto;
    text-align: justify;
    font-size: 15px;
}

.articles {
    padding: 30px 0;
}

.article_text {
    margin: auto;
}

.footer {
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    padding-top: 12px;
}

/* additional styling for mobile devices */
@media only screen and (max-width: 760px) {
    h1 {
        font-size: 30px;
    }

    h4 {
        font-size: 12px;
    }

    .logo {
        font-family: Brush Script MT, Brush Script Std, cursive;
        margin: 9px 15px;
    }

    .social_links a {
        border: solid #DC143C 1px;
        padding: 3px 9px;
        border-radius: 50%;
        background-color: #DC143C;
        color: #FFFFFF;
    }

    .social_links a:hover {
        background-color: #FFFFFF;
        color: #DC143C;
    }

    .tagline {
        padding: 15px;
        font-size: 12px;
        font-weight: bold;
    }

    .body {
        width: 96%;
        margin: auto;
        text-align: justify;
        font-size: 9px;
    }

    .articles {
        padding: 21px 0;
    }

    .article_image {
        margin: auto;
    }

    .footer {
        font-family: "Times New Roman", Times, serif;
        font-size: 9px;
        padding-top: 12px;
    }   
}
